.results {
    background-color: #c2f5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 460px;
    width: 480px;
    border-radius: 12px;
    justify-content: center;
    margin-top: 7%;
    row-gap: 10px;
    z-index: 3;
    position: absolute;

    &__header {
        font-weight: 400;
        font-size: 40px;
        line-height: 40px;
        color: #004980;
        text-align: center;
    }

    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        margin-top: 20px;
    }

    &__timer {
        line-height: 72px;
    }

    &__restart-button {
        margin-top: 20px;
    }
}

.translucent__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #004980;
    opacity: 0.5;
    align-items: center;
}
